#root {
  margin: 0 auto;
  max-width: 1280px;
  display: flex; flex-direction: column;
  padding: 2rem;
}

h1 {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

  .button:hover {
    background-color: #ff4500;
  }

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 0 none;
  background-color: #f0f0f0;
  margin-top: 20px;
}

.circle {
  transition: width 0.3s, height 0.3s;
  border-radius: 50%;
}