
.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

    .schedule-search {
        display: block;
        padding: 10px 15px;
        width: 100%; max-width: 600px;
        font-size: 1.7em; font-weight: 300;
        border-radius: 25px;
        border: 0 none;
        background-color: #e5e4e2;
        box-shadow: 0 1px 2px #999;
        outline: none;
    }
        .schedule-search:active, .schedule-search:focus {
            box-shadow: none;
            background-color: #f0f0f0;
        }

.courses {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 36px;
    cursor: default;
}

    .course {
        margin-bottom: 6px;
        margin-right: 4px;
        padding: 6px 8px;
        font-size: 1.3em;
        background-color: #e5e4e2;
        border-radius: 3px;
    }
        .course:hover {
            color: #fefefe;
            background-color: #232425;
        }

    .no-result {
        font-style: italic;
        font-weight: 500;
        color: #555;
    }

.tutors {
    display: flex;
    flex-wrap: wrap;
}

    .tutor {
        display: flex; flex-direction: column;
        margin-bottom: 6px;
        margin-right: 4px;
        padding: 6px 12px;
        font-size: 1.4em;
        color: #232425;
        border-radius: 3px;
    }
        .tutor:hover {
            background-color: #e5e4e2;
        }

    .tutor-photo {
        position: relative;
        align-self: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #e5e4e2;
    }

    .tutor-photo[src=""] {
        width: 36px; height: 36px;
    }

        .tutor-photo[src=""]:after {
            content: "";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: #c0c0c0;
            z-index: 2;
        }

    .tutor-name {
        margin: 0; margin-top: 2px;
        font-size: 1em; font-weight: 500;
    }

    .tutor-email {
        color: inherit;
        font-weight: bold;
    }